:root {
  --ochre: #d1451e;

  --background-primary: #f0633c;
  --background-secondary: #3d6d4a;

  --light-coral: #ffdbd1;

  --font-color: #fffaf3;

  --dark-green: #263a29;

  --gray: #444444;
  --light-gray: #efefef;
  --white: #fff;

  --title-font-size: 3rem;
  --default-font-family: Nunito Sans, sans-serif;
}

body {
  min-height: 100vh;
  color: var(--font-color);
  font-family: var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}
